/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  box-sizing: border-box;
}

html, body { height: 100vh; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(48, 101, 83);
}

.container{
  margin: auto;
  border-radius: 20px;
  width: 320px;
  min-height: 500px;
  padding: 20px;
  background-color: rgba(120, 121, 222, 0.54);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: blue;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: rgb(96, 96, 242);
}

.erroredInput{
  margin-bottom: 10px;
}

mat-error{
  margin-top: -15px;
}
