/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

*{
  margin: 0;
  box-sizing: border-box;
}


html{
  scroll-snap-type: y proximity;
}

html, body { height: 100vh; }
body {
  background-color: rgb(65, 65, 187);
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}


.container{
  margin: auto;
  border-radius: 20px;
  width: 320px;
  min-height: 500px;
  padding: 20px;
  background-color: rgba(113, 185, 223, 0.637)
}

.erroredInput{
  margin-bottom: 10px;
}

mat-error{
  margin-top: -15px;
}

a{
  text-decoration: none;
  color: rgb(0, 46, 90);
}

.tag{
  background-color: blue;
  color: aliceblue;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 3px;
  border: 1px solid rgb(255, 255, 255);
}

.near{
  display: flex;
  width: 90%;
  margin: auto;
  height: auto;
}



