/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-snap-type: y proximity;
}

html, body { height: 100vh; }
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.container{
  margin: auto;
  border-radius: 20px;
  width: 320px;
  min-height: 500px;
  padding: 20px;
  background-color: rgba(40, 185, 40, 0.727)
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: rgb(3, 211, 24);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: rgb(47, 115, 45);
}

.erroredInput{
  margin-bottom: 10px;
}

mat-error{
  margin-top: -15px;
}
