.container{
  background-color: aquamarine;
  border-radius: 5px;
  border: 1px solid aqua;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tags{
  display: flex;
}

.tag{
  background-color: blue;
  color: aliceblue;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 3px;
  border: 1px solid rgb(255, 255, 255);
}

.link{
  color: rgb(0, 87, 141);
  text-decoration: underline;
  cursor: pointer;
}

.link:hover{
  color: rgb(70, 145, 192);
}

.rating{
  display: flex;
}

.stars{
  font-size: xx-large;
}

