.container{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tag{
  background-color: #3f51b5;
  color: aliceblue;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 3px;
}

.link{
  color: rgb(0, 87, 141);
  text-decoration: underline;
  cursor: pointer;
}

.link:hover{
  color: rgb(70, 145, 192);
}

.rating{
  display: flex;
}

.stars{
  font-size: xx-large;
  color:rgb(190, 190, 0)
}

button{
  width: 300px;
  margin: 3px auto;
}

.discription{
  margin-top: 10px;
  margin-bottom: 10px;
}

