<div class="container">
  <div class="row">
    <h2 class="col-sm-12 col-md-3" > {{ ad.user.firstName + " " + ad.user.lastName }} </h2>
    <div class="rating col-sm-12 col-md-3" >
      <h3 [ngClass]="rating != 0 ? 'link': '' "  (click)="setRatingedUser(ad.userId)" class="stars">{{ stars }}</h3>
      <h4>{{ (rating == 0) ? " - nincs értékelve "  : rating | number}}</h4>
    </div>
    <div class="tags" >
      <div class="tag">
        {{ ad.jobTag.name }}
      </div>
      <div class="tags" *ngFor="let county of ad.counties">
        <div class="tag">
          {{ county.name }}
        </div>
      </div>
    </div>
    <div class="discription">
      <p>Leírás: {{ ad.description }}</p>
    </div>
    <p>Dátum: {{ ad.updatedAt }} </p>
    <div *ngIf="currentUser == ad.userId">
      <button mat-raised-button (click)="openEditAd()">Hirdetés Szerkesztése</button>
      <button mat-raised-button color="warn" (click)="deleteAd()">Hirdetés Törlése</button>
    </div>
    <div *ngIf="currentUser != ad.userId">
      <button mat-raised-button *ngIf="!favorite" (click)="addAdToFavorite()">Hozzáadaás a kedvencekhez</button>
      <button mat-raised-button *ngIf="favorite" (click)="removeAdFromFavorites()">Eltávolítás a kedvencek közül</button>
      <button mat-raised-button (click)="goToMessage()">Üzenet a Feladónak</button>
      <button mat-raised-button (click)="openCreateJob()">Megbízás Létrehozása</button>
    </div>
  </div>
</div>
