<div class="container">
    <div class="row">
        <div *ngIf="currentUser.access_type > 0" class="works">
            <h2>Munkák</h2>
            <div *ngFor="let work of works"  class="work">
                <app-job [job]="work"></app-job>
                <hr>
            </div>
            <p *ngIf="works.length == 0">Nincs megjeleníthető munka</p>
        </div>
        <div class="orders">
            <h2>Megrendelések</h2>
            <div *ngFor="let order of orders"  class="order">
                <app-job [job]="order"></app-job>
            </div>
            <p *ngIf="orders.length == 0">Nincs megjeleníthető megrendelés</p>
        </div>
    </div>
    <hr>
</div>
<app-loader *ngIf="!loaded"></app-loader>