<div class="container">
    <div class="row">
        <div class="rating" *ngFor="let rating of ratings">
            <hr>
            <app-rating [rating]="rating"></app-rating>
            <div class="flex">
                <button mat-raised-button color="primary" (click)="acceptRating(rating)">Elfogad</button>
                <button mat-raised-button color="warn" (click)="deleteRating(rating)">Elutasít</button>
            </div>
            <hr>
        </div>
    </div>
    <div *ngIf="ratings.length == 0">Nincs elfogadásra váró értékelés</div>
</div>
<app-loader *ngIf="!loaded"></app-loader>