.userData, .address, .company{
  border-left: 1px solid gray;
}

.flex{
  display: flex;
  place-content: space-evenly;
  margin-bottom: 10px;
}

.warn{
  text-decoration: underline;
  color: brown;
}

.warn:hover{
  cursor: pointer;
  color: red;
}

.full{
  width: 100%;
}