<div class="container">
  <hr>
  <div class="row" *ngIf="user">
    <h2>Profil adatok</h2>
    <div class="userData col-sm-12 col-md-6 col-lg-4">
      <h2>Elérhetőség</h2>
      <p>Név: {{ userData.name }}</p>
      <p>Jogosultság: {{ userType() }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Telefon Szám: {{ user.phone }}</p>
      <div class="flex">
        <p class="edit" (click)="editUserDialog()">Szerkesztés</p>
      </div>
      <div class="jobs" *ngIf="user.accessType! > 0">
        <h2>Foglalkozás(ok):</h2>
        <ul>
          <li *ngFor="let tag of user.jobTags"> {{ tag.name }}</li>
        </ul>
        <p class="edit" (click)="editUserProfessionsDialog()">Szerkesztés</p>
      </div>
    </div>
    <div class="address col-sm-12 col-md-6 col-lg-4">
      <h2>Cím</h2>
      <p>Megye: {{ user.address!.county!.name }}</p>
      <p>Irányítószám: {{ user.address!.zipCode }}</p>
      <p>Város: {{user.address!.city }}</p>
      <p>Utca: {{ user.address!.street }}</p>
      <p>Házszám: {{ user.address!.number }}</p>
      <div *ngIf="user.address!.staircase">
        <p>Lépcsőház: {{ user.address!.staircase }}</p>
        <p>Emelet: {{ user.address!.floor }}</p>
        <p>Ajtó: {{ user.address!.door }}</p>
      </div>
      <p class="edit" (click)="editAddressDialog()">Szerkesztés</p>
    </div>
    <div class="company col-sm-12 col-md-6 col-lg-4">
      <p *ngIf="!user.company && user.accessType! > 0" class="edit" (click)="createCompanyDialog()">Cég létrehozása</p>
      <p *ngIf="user.accessType! == 0" class="edit" (click)="changeUserType()">Legyé te is szakember</p>
    </div>
    <div *ngIf="user.company && user.accessType! > 0" class="company col-sm-12 col-md-6 col-lg-4">
      <h2>Cég információk</h2>
      <p>Cégnév: {{ user.company.name }}</p>
      <p>Adószám: {{ user.company.taxNumber }}</p>
      <p class="edit" (click)="editCompanyDialog()" >Szerkesztés</p>
      <h2>Cég cím</h2>
      <p>Megye: {{ user.company.address!.county!.name }}</p>
      <p>Irányítószám: {{ user.company.address!.zipCode }}</p>
      <p>Város: {{user.company.address!.city }}</p>
      <p>Utca: {{ user.company.address!.street }}</p>
      <p>Házszám: {{ user.company.address!.number }}</p>
      <div *ngIf="user.company.address!.staircase">
        <p>Lépcsőház: {{ user.company.address!.staircase }}</p>
        <p>Emelet: {{ user.company.address!.floor }}</p>
        <p>Ajtó: {{ user.company.address!.door }}</p>
      </div>
      <div class="flex">
        <div class="edit" (click)="editCompanyAddressDialog()">Szerkesztés</div>
        <div class="warn" (click)="deleteCompany()">Cég törlése</div>
      </div>
    </div>
  </div>
  <hr>
  <div class="flex">
    <p *ngIf="!userDelete" class="edit" (click)="setNewPasswordDialog()">Új jelszó beállítása</p>
    <p *ngIf="!userDelete" class="warn" (click)="setDelete()">felhasználói fiók törlése</p>
    <div *ngIf="userDelete" class="flex full">
      <button mat-raised-button color="primary" (click)="cancel()">Mégse</button>
      <button mat-raised-button color="warn" (click)="deleteUser()">Törlés</button>
    </div>
  </div>
</div>