<div class="row text-center text-md-start">
    <h2>Szakember: {{ rating.ratinged!.firstName + " " + rating.ratinged!.lastName }}</h2>
    <div class="d-md-flex text-center">
        <h3>Értékelő: {{ rating.ratinger!.firstName + " " + rating.ratinger!.lastName }}</h3>
        <div class="d-flex justify-content-center padding-l-10">
            <h3 class="yellow"> {{ stars }} </h3>
            <h3> {{ " - " +  rating.ratingsStars}}</h3>
        </div>
    </div>
    <p>{{ rating.description }}</p>
    <p>{{ rating.updatedAt }} </p>
</div>