.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.nav button {
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.end{
  margin-right: 5px;
  margin-left: 5px;
}