<div class="nav">
  <span>
      <div class="logo">
          <img src="./TestLogo.png" alt="Logo">
      </div>
      <div class="menu-item">
          Keresés
      </div>
      <div class="menu-item">
          Üzenetek
      </div>
      <div class="menu-item">
          Kedvencek
      </div>
      <div class="menu-item">
          Aktív Munkák
      </div>
      <div>

      </div>
      <div>
          <input type="text" placeholder="Keresés">
          <button>🔎</button>
      </div>
      <div>
          ⍾
      </div>
      <div>
          ﹀
      </div>
  </span>
</div>
