<div class="nav">
  <span>
      <a routerLink="/main/advertisement">
        <div class="menu-item">
          Hirdetések
        </div>
      </a>
      <div class="menu-item">
          Üzenetek
      </div>
      <div class="menu-item">
          Kedvencek
      </div>
      <div class="menu-item">
          Aktív Munkák
      </div>
      <div>
          <input type="text" placeholder="Keresés">
          <button>🔎</button>
      </div>
      <div>
          ⍾
      </div>
      <a routerLink="/main/user">
        <div>
          ﹀
        </div>
      </a>
  </span>
</div>
