<div class="container">
  <form [formGroup]="registForm">
    <h2>Sign up / Regisztrálj</h2>
    <a routerLink="">Bejelentkezés létező fiókba</a>
    <hr>
    <h2>Felhasználói adatok</h2>
    <!-- User -->
    <div *ngFor="let field of fields">
      <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
      <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
    </div>
    <h2>Cím</h2>
    <!-- Address -->
    <app-address-form [addressFormGroup]="address" [addressFields]="addressFields"></app-address-form>
    <!-- Professional -->
    <mat-slide-toggle (click)="professionalSlide()">Regisztrálás szakemberként</mat-slide-toggle>
    <div *ngIf="professional">
      <div class="dropdown">
        <app-search-dropdown [options]="professions" name="Foglalkozás" [control]="registForm.controls['profession']"></app-search-dropdown>
        <mat-error *ngIf="registForm.controls['profession'].hasError('required') &&
         registForm.controls['profession'].touched">Mező kitöltése kötelező</mat-error>
      </div>
      <mat-slide-toggle (click)="companySlide()">Cég regisztálása</mat-slide-toggle>
      <div *ngIf="hasCompany" class="company">
          <div *ngFor="let field of companyFields">
            <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
            <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
          </div>
          <h2>Cég Telephely</h2>
          <!-- Company Address -->
          <app-address-form [addressFormGroup]="companyAddress" [addressFields]="companyAddressFields"></app-address-form>
          <!-- Company Address -->
      </div>
  </div>
  <p>a *-gal jelölt mezők kitöltése kötelező</p>
  <button mat-raised-button color="primary" (click)="regist()">Regisztráció</button>
</form>
</div>

{{ registForm.valid }}
{{ registForm.value | json }}
