<div class="container">
  <form [formGroup]="registForm">
    <h2>Sign up / Regisztrálj</h2>
    <a routerLink="">Bejelentkezés létező fiókba</a>
    <hr>
    <p>User</p>
    <!-- User -->
    <div *ngFor="let field of fields">
      <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
      <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
    </div>
    <!-- password -->
    <!-- Address -->
    <p>Cím</p>
    <!-- search dropdown -->

      <div class="dropdown">
        <app-search-dropdown [options]="counties" name="Megye"
        [control]="address.controls['county']" ></app-search-dropdown>
        <mat-error *ngIf="
        !address.controls['county'].hasError('required') &&
        address.controls['county'].hasError('notContains') &&
        address.controls['county'].dirty">
          Érvénytelen név
        </mat-error>
        <mat-error *ngIf="address.controls['county'].hasError('required') &&
        address.controls['county'].touched">Mező kitöltése kötelező</mat-error>
      </div>

    <div class="dropdown">
      <app-search-dropdown  [options]="cities" name="Város"
      [control]="address.controls['city']"></app-search-dropdown>
      <mat-error *ngIf="!address.controls['city'].hasError('required') && address.controls['city'].hasError('notContains') && address.controls['city'].dirty">
        Érvénytelen név
      </mat-error>
      <mat-error *ngIf="address.controls['city'].hasError('required') &&
      address.controls['city'].touched">Mező kitöltése kötelező</mat-error>
    </div>

    <div class="dropdown">
      <app-search-dropdown [options]="streetsNames" name="Utca"
      [control]="address.controls['streetName']"></app-search-dropdown>
      <mat-error *ngIf="address.controls['streetName'].hasError('required') &&
      address.controls['streetName'].touched">Mező kitöltése kötelező</mat-error>
    </div>

    <!-- search dropdown -->

    <div *ngFor="let field of addressFields">
      <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
      <mat-error *ngIf="field.control.hasError('pattern')">{{ field.errorMessage }}</mat-error>
      <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
    </div>

    <mat-slide-toggle (click)="professionalSlide()">Regisztrálás szakemberként</mat-slide-toggle>
    <div *ngIf="professional">
      <div class="dropdown">
        <app-search-dropdown [options]="professions" name="Foglalkozás" [control]="registForm.controls['profession']"></app-search-dropdown>
        <mat-error *ngIf="registForm.controls['profession'].hasError('required') &&
         registForm.controls['profession'].touched">Mező kitöltése kötelező</mat-error>
      </div>
      <mat-slide-toggle (click)="companySlide()">Cég regisztálása</mat-slide-toggle>
      <div *ngIf="company" class="company">
          <div *ngFor="let field of companyFields">
            <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
            <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
          </div>
          <p>Cég Telephely</p>
          <div class="dropdown">
            <app-search-dropdown  [options]="counties" name="Megye"
            [control]="companyAddress.controls['county']" ></app-search-dropdown>
            <mat-error *ngIf="companyAddress.controls['county'].hasError('required') &&
            companyAddress.controls['county'].touched">Mező kitöltése kötelező</mat-error>
          </div>
          <div class="dropdown">
            <app-search-dropdown [options]="cities" name="Város"
            [control]="companyAddress.controls['city']"></app-search-dropdown>
            <mat-error *ngIf="companyAddress.controls['city'].hasError('required') &&
            companyAddress.controls['city'].touched">Mező kitöltése kötelező</mat-error>
          </div>
          <div class="dropdown">
            <app-search-dropdown [options]="streetsNames" name="Utca"
            [control]="companyAddress.controls['streetName']"></app-search-dropdown>
            <mat-error *ngIf="companyAddress.controls['streetName'].hasError('required') &&
            companyAddress.controls['streetName'].touched">Mező kitöltése kötelező</mat-error>
          </div>
          <div *ngFor="let field of companyAddressFields">
            <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
            <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
          </div>
      </div>
  </div>
  <p>*-gal jelölt mezők kitöltése kötelező</p>
  <button mat-raised-button color="primary" (click)="regist()">Regisztráció</button>
</form>
</div>

{{ registForm.valid }}
{{ registForm.value | json }}
