<div class="container">
    <form [formGroup]="formG">
        Foglalkozás:
        <div *ngIf="jobTags">
            <select formControlName="jobTagId" name="" id="jobTag">
                <option [value]="jobTag.id" *ngFor="let jobTag of jobTags">
                    {{ jobTag.name }}
                </option>
            </select>
        </div>
        <div>
            Terület:
            <div *ngFor="let countyC of counties.controls; let i = index" formArrayName="counties">
                <select [formControlName]="i">
                    <option  [value]="county.id" *ngFor="let county of countiesTags">
                        {{ county.name }}
                    </option>
                </select>
                <button *ngIf="i != 0" type="button" (click)="deleteCounty(i)">-</button>
            </div>
            <button (click)="addCounty()">+</button>
        </div>
        Leírás:
        <textarea formControlName="description" name="" id="" cols="30" rows="10"></textarea>
        <button>Mégse</button>
        <button (click)="createAd()">Hirdetés Feladása</button>
    </form>
    {{ formG.value | json }}
</div>