<form class="form" [formGroup]="registForm">
  <div class="title">Welcome</div>
  <div class="subtitle">Sign up / Regisztrálj</div>
  <!-- User -->
  <div *ngFor="let field of fields" class="input-container ic2">
    <input id={{field.display}} class="input" type="text" placeholder=" " formControlName={{field.key}}/>
    <div class="cut"></div>
    <label for={{field.display}} class="placeholder">{{field.display}}</label>
  </div>
  <!-- password -->
  <div class="input-container ic2">
    <input id="password" class="input" type="password" placeholder=" " />
    <div class="cut cut-short"></div>
    <label for="password" class="placeholder">Password</label>
  </div>
  <!-- Address -->
  <div>
    <p>Address</p>
    <p>Megye</p>
    <!-- search dropdown -->
      <app-search-dropdown [options]="counties" name="Megye" [control]="registForm.controls['county']" ></app-search-dropdown>
      <app-search-dropdown [options]="citiesNames" name="Város" [control]="registForm.controls['city']"></app-search-dropdown>
    <!-- search dropdown -->

    <div *ngFor="let field of addressFields" class="input-container ic2">
      <input id={{field.display}} class="input" type="text" placeholder=" " formControlName={{field.key}}/>
      <div class="cut"></div>
      <label for={{field.display}} class="placeholder">{{field.display}}</label>
    </div>
  </div>

  <button type="text" class="submit" (click)="regist()">Regisztráció</button>
</form>
