<h2>Cím</h2>
    <!-- search dropdown -->
      <div class="dropdown">
        <app-search-dropdown [options]="counties" name="Megye"
        [control]="county"></app-search-dropdown>
        <mat-error *ngIf="
        county.hasError('required') &&
        county.hasError('notContains') &&
        county.dirty">
          Érvénytelen név
        </mat-error>
        <mat-error *ngIf="county.hasError('required') &&
        county.touched">Mező kitöltése kötelező</mat-error>
      </div>

    <div class="dropdown">
      <app-search-dropdown  [options]="cities" name="Város"
      [control]="address.controls['city']"></app-search-dropdown>
      <mat-error *ngIf="!address.controls['city'].hasError('required') &&
      address.controls['city'].hasError('notContains') && address.controls['city'].dirty">
        Érvénytelen név
      </mat-error>
      <mat-error *ngIf="address.controls['city'].hasError('required') &&
      address.controls['city'].touched">Mező kitöltése kötelező</mat-error>
    </div>

    <div class="dropdown">
      <app-search-dropdown [options]="streetsNames" name="Utca"
      [control]="address.controls['street']"></app-search-dropdown>
      <mat-error *ngIf="address.controls['street'].hasError('required') &&
      address.controls['street'].touched">Mező kitöltése kötelező</mat-error>
    </div>

    <!-- search dropdown -->
    <div *ngFor="let field of fields">
      <app-input [control]="field.control" [type]="field.type" [name]="field.name"></app-input>
      <mat-error *ngIf="field.control.hasError('pattern')">{{ field.errorMessage }}</mat-error>
      <mat-error *ngIf="field.control.hasError('required') && field.control.touched">Mező kitöltése kötelező</mat-error>
    </div>
