<div class="container">
  <div>
    <h2>Jelentkezz be</h2>
    <hr>
  </div>
    <form class="form" [formGroup]="loginForm">
      <div class="erroredInput">
        <app-input [control]="loginForm.controls['emailNumber']" type="text" name="Email / Telefonszám"></app-input>
        <mat-error *ngIf="loginForm.controls['emailNumber'].hasError('required')
        && loginForm.controls['emailNumber'].touched">
        Mező kitöltése kötelező</mat-error>
        <mat-error *ngIf="loginForm.controls['emailNumber'].hasError('email')">
          Valós e-mail címet adjon meg</mat-error>
        </div>
  <div class="erroredInput">
    <app-input [control]="loginForm.controls['password']" type="password" name="Jelszó"></app-input>
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')
    && loginForm.controls['password'].touched">
    Mező kitöltése kötelező</mat-error>
  </div>
  <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">Bejelentkezés</button>
</form>
<div class="foot" >
  <hr>
  <a routerLink="/login/regist">Regisztráció</a>
</div>
</div>
