.userChat{
  background-color: aquamarine;
  border-radius: 5px;
  border: 1px solid aqua;
  line-height: 30px;
  width: 140px;
  display: flex;
}

.userChat:hover{
  background-color:rgba(127, 255, 212, 0.692);
}

.active{
  position: relative;
  left: 5px;
}

.unread{
  color: white;
  margin-left: 10px;
  width: 100%;
  line-height: normal;
  background-color: red;
  border-radius: 50%;
  border: 1px brown solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
