.userChat{
  background-color: #3f51b5;
  color: white;
  border-radius: 5px;
  line-height: 30px;
  width: 130px;
  display: flex;
  font-size: medium;
  padding-left: 2px;
}

.userChat:hover{
  background-color:#2e3a7e;
  cursor: pointer;
}

.selected {
  background-color:#2e3a7e;
}

.unread{
  color: white;
  margin-left: 10px;
  width: 100%;
  line-height: normal;
  background-color: brown;
  border-radius: 50%;
  border: 1px brown solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
