.searchBar{
  background-color: rgba(113, 185, 223, 0.637);
  padding: 10px;
}

.ads{
  padding: 10px;
  background-color: white;
}

.background{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
}
