<div>
    <h2>{{data.ratingedUserName}}</h2>
    <form [formGroup]="formG">
        <select formControlName="ratingsStars">
            <option value="1">★☆☆☆☆</option>
            <option value="2">★★☆☆☆</option>
            <option value="3">★★★☆☆</option>
            <option value="4">★★★★☆</option>
            <option value="5">★★★★★</option>
        </select>
        <textarea formControlName="description" cols="30" rows="10"></textarea>
    </form>
    <div class="flex">
        <button mat-raised-button color="warn" (click)="close()">Mégse</button>
        <button mat-raised-button color="primary" (click)="ratingWorker()">Értékelés küldése</button>
    </div>
</div>
