<div>
    <form [formGroup]="formG">
        <div class="formField">
            <div>
                <app-input [control]="formG.controls['oldPass']" type="password" name="Régi jelszó"></app-input>
                <mat-error
                    *ngIf="formG.controls['oldPass'].hasError('required') && formG.controls['oldPass'].touched">
                    Mező kitöltése kötelező</mat-error>
            </div>
        </div>
        <div class="formField">
            <div>
                <app-input [control]="formG.controls['newPass']" type="password" name="Új jelszó"></app-input>
                <mat-error *ngIf="formG.controls['newPass'].hasError('required') && formG.controls['newPass'].touched">Mező kitöltése
                    kötelező</mat-error>
                <mat-error *ngIf="formG.controls['newPass'].hasError('pattern')">
                    Tartalmazzon legalább 8 karaktert, kis és nagy betűt, számot, és speciális karaktert
                </mat-error>
            </div>
        </div>
        <div class="formField">
            <div>
                <app-input [control]="formG.controls['newPassConfirm']" type="password" name="Új jelszó mégegyszer"></app-input>
                <mat-error *ngIf="formG.controls['newPassConfirm'].hasError('required') && formG.controls['newPassConfirm'].touched">Mező kitöltése
                    kötelező</mat-error>
            </div>
            <mat-error *ngIf="formG.hasError('notSame') &&
            formG.controls['newPassConfirm'].value != '' ">A jelszavak nem egyeznek</mat-error>
        </div>
    </form>
    <div class="flex">
        <button mat-raised-button color="warn" (click)="close()">Mégse</button>
        <button mat-raised-button color="primary" [disabled]="formG.invalid" (click)=" setNewPassword()">Jelszó változtatása</button>
    </div>
</div>